

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('/src/fonts/Poppins-Regular.otf') format(opentype)
}

body {
  font-family: Poppins;
  margin: 0;
}